<!DOCTYPE html>
<html th:lang="#{lang}" xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    </head>

    <body>
    <div>
        <h3 th:text="#{hello} + ' ' + ${firstName} + ' ' + ${lastName} + '!'"></h3>

        <p th:text="#{courseResourcesExhaustion.generalDescription} + '.'"></p>

        <p><strong th:text="#{courseResourcesExhaustion.courseName}"></strong>: <span th:text="${courseName}"></span></p>
        <p><strong th:text="#{courseResourcesExhaustion.resourceGroupPool}"></strong>: <span th:text="${resourceGroupPool}"></span></p>
        <p><strong th:text="#{courseResourcesExhaustion.startTime}"></strong>: <span th:text="${startTime}"></span></p>
        <p><strong th:text="#{courseResourcesExhaustion.endTime}"></strong>: <span th:text="${endTime}"></span></p>

        <br/><br/>

        <p><strong th:text="#{note}"></strong>: <span th:text="#{emailNote}"></span></p>
    </div>
    </body>
</html>
