<!DOCTYPE html>
<html lang="" th:lang="#{lang}" xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <title></title>
    </head>

    <body>
        <h3 th:text="#{hello} + ' ' + ${name} + '!'"></h3>

        <br/>

        <p>
            <strong th:text="${description}"></strong>
        </p>

        <p>
            <link th:text="${cancelUrl}" />
        </p>

        <br/><br/>

        <p th:text="#{reservationStart.teamName} + ': ' + ${teamName}"></p>
        <p th:text="#{reservationStart.resourceGroupName} + ': ' + ${resourceGroupName}"></p>
        <p th:text="#{reservationStart.scheduledEndTime} + ' ' + ${scheduledEndTime}"></p>
    </body>

    <br/><br/><br/>

    <footer>
        <i th:text="#{emailNote}"></i>
    </footer>
</html>
