<!DOCTYPE html>
<html th:lang="#{lang}" xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    </head>

    <body>
    <h3 th:text="#{hello} + ' ' + ${firstName} + ' ' + ${lastName} + '!'"></h3>

        <br/>

        <p><strong th:text="#{testHtmlMessage.generalDescription} + '.'"></strong></p>

        <p th:text="#{testHtmlMessage.sentAt} + ': ' + ${currentTime}"></p>

        <br/><br/>

        <p th:text="#{emailNote}"></p>
    </body>
</html>